<div class="container">
  <div class="row">
    <div class="col shadow my-5 py-3">
      <h2>投稿編集</h2>
      <%= render 'form', tweet: @tweet %>
      <%= link_to 'Show', @tweet %> |
      <%= link_to 'Back', tweets_path %>
    </div>
  </div>
</div>