/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*========================
変数
========================*/
$main-color: #074770;
$sub-color: #FFD400;

/*========================
public
========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========================
flash message
========================*/
.alert-notice {
  @extend .alert-primary;
}

.alert-alert {
  @extend .alert-danger;
}

/*========================
registration
========================*/
.registration-content {
  color: $main-color;
  text-align: center;
}

.registration-title {
  font-size: 64px;
  margin-top: 120px;
  font-weight: bold;
}

.registration-text {
  font-weight: bold;
}
/*========================
header
========================*/
header {
  background-color: $main-color;
}

/*========================
home/top
========================*/
.container-bg {
  background-color: $main-color;
}

.top-content {
  text-align: center;
  margin-top: 120px;
}

.top-title {
  font-size: 64px;
  font-weight: bold;
  color: $main-color;
}

.top-text {
  font-weight: bold;
  color: $main-color;
}

.custom-main-color{
  background-color: $main-color;
}
.custom-sub-color {
  background-color: $sub-color;
}

.top-signup-btn {
  padding: 5px 32px;
  color: $main-color;
  &:hover {
    color: #FFF;
  }
}

.top-guest-signin-btn {
  padding: 5px 22px;
}

/*========================
about
========================*/
.about-content {
  padding: 120px 0;
}

.about-title {
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 24px;
}

.about-text {
  font-size: 18px;
  letter-spacing: 3px;
}

/*========================
feature
========================*/
.feature-content {
  margin-top: 80px;
  text-align: center;
  color: $main-color;
}

.fa-check-circle {
  color: $sub-color;
  margin-right: 8px;
}

.feature-image {
  margin-left: 110px;
}


/*========================
message
========================*/
.message-content {
  margin: 24px 0;
  text-align: center;
  letter-spacing: 3px;
}

.message-title {
  color: $main-color;
  font-size: 32px;
}

.message-text {
  color: $main-color;
}

/*========================
footer
========================*/
footer {
  background-color: $main-color;
}

.footer-text {
 text-decoration: none !important;
 color: #FFF;
}