/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*========================
変数
========================*/
$main-color: #074770;
$sub-color: #FFD400;
$bg-color: #ededed;

/*========================
public
========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  color: $main-color;
}

.custom-main-color{
  background-color: $main-color;
}
.custom-sub-color {
  background-color: $sub-color;
}

.btn-main {
  background-color: #fff;
  color: $main-color;
  border: 1px solid $main-color;
  border-radius: 30px;

  &:hover {
    background-color: $main-color;
    color: #fff;
    opacity: 2.0;
  }
}

.btn-sub {
  background-color: #fff;
  color: $sub-color;
  border: 1px solid $sub-color;
  border-radius: 30px;

  &:hover {
    background-color: $sub-color;
    color: #fff;
    opacity: 2.0;
  }
}

.btn-remove {
  background-color: #fff;
  color: #ee2117;
  border: 1px solid #ee2117;
  border-radius: 30px;

  &:hover {
    background-color: #ee2117;
    color: #fff;
    opacity: 2.0;
  }
}

.btn-custom {
  border-radius: 30px;
}

.link-under-none {
  text-decoration: none !important;
}

.bg-color {
  background-color: $bg-color;
}

.text-main {
  color: $main-color;
}

/*========================
flash message
========================*/
.alert-notice {
  @extend .alert-primary;
}

.alert-alert {
  @extend .alert-danger;
}

/*========================
registration
========================*/
.registration-content {
  color: $main-color;
  text-align: center;
}

.registration-title {
  font-size: 64px;
  margin-top: 120px;
  font-weight: bold;
}

.registration-text {
  font-weight: bold;
}

/*========================
header
========================*/
header {
  background-color: $main-color;
}

/*========================
home/top
========================*/
.container-bg {
  background-color: $main-color;
}

.top-content {
  text-align: center;
  margin-top: 120px;
}

.top-title {
  font-size: 64px;
  font-weight: bold;
  color: $main-color;
}

.top-text {
  font-weight: bold;
  color: $main-color;
}

.top-signup-btn {
  padding: 5px 32px;
  color: $main-color;
  &:hover {
    color: #FFF;
  }
}

.top-guest-signin-btn {
  padding: 5px 22px;
}

/*========================
about
========================*/
.about-content {
  padding: 120px 0;
}

.about-title {
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 24px;
}

.about-text {
  font-size: 18px;
  letter-spacing: 3px;
}

/*========================
feature
========================*/
.feature-content {
  margin-top: 80px;
  text-align: center;
  color: $main-color;
}

.fa-check-circle {
  color: $sub-color;
  margin-right: 8px;
}

.feature-image {
  margin-left: 110px;
}


/*========================
message
========================*/
.message-content {
  margin: 24px 0;
  text-align: center;
  letter-spacing: 3px;
}

.message-title {
  color: $main-color;
  font-size: 32px;
}

.message-text {
  color: $main-color;
}

/*========================
footer
========================*/
footer {
  background-color: $main-color;
}

.footer-text {
 text-decoration: none !important;
 color: #FFF;
}

/*========================
user/index
========================*/
.user-content {
  border-left: 6px solid $sub-color;
  box-shadow: 0px 2px 3px  rgba(0,0,0,0.5);
}

/*========================
user/show
========================*/
.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-introduction {
  border: 2px solid rgba(212,212,212, 1.0);
  padding: 14px;
}

.card-header, .card-footer {
  box-shadow: 0px 2px 3px  rgba(0,0,0,0.2);
}

/*========================
tweet/show
========================*/
.tweet-content {
  border: 2px solid rgba(212,212,212, 1.0);
  padding: 14px;
}

.fa-edit, .fa-trash-alt {
  color: $main-color;
}

.tweet-edit-icon {
  font-size: 19px;
  position: absolute;
  right: 50px;
}

.tweet-delete-icon {
  font-size: 19px;
  position: absolute;
  right: 20px;
}

.comment-box {
  position: relative;

  .delete-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 20px;
  }
}

.comment-title {
  font-size: 18px;
}


.fa-search {
  font-size: 22px;
  padding: 5px;
  color: $main-color;
}